#generate-ean-button{
    float: right;
    margin-right: 1em;
}

.ean-code-container{
    font-size: 2em;
    text-align: center;
    display: block;
    vertical-align: middle;
    margin: ~"calc(100vh - 343px)" 0;
    overflow: initial;
    line-height: 1em;
    height: ~"calc(100vh - 435px)";
}

.config-options-list{
  margin: 0;
  padding: 0;

  .mdl-list__item-primary-content .mdl-textfield{
    padding-top: 10px;
    width: 100%;
    padding-bottom: 0;
  }

  .mdl-list__item, .mdl-list__item .mdl-list__item-primary-content{
    align-items: baseline;
  }

  .mdl-list__item--two-line {
    height: 82px;
  }
}

table#last-eans{
  width: 100%;
}
